@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --color-1: #bd9a4f;
  --color-2: #917e54;
  --color-3: #e6af39;
  --color-4: #665e4d;
  --color-5: #3b3834;
  --color-6: #332e25;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 80%;
  display: grid;
  margin-inline: 20px;
}

.nav-container {
  height: auto;
}

.nav-bg {
  background-color: var(--color-3);
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
}

.nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-input {
  width: 500px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 100px;
  justify-content: space-around;
}

.span-search {
  margin-left: 24px;
  margin-right: 8px;
  cursor: pointer;
}

#pesquisa-modelo {
  width: auto;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

#pesquisa-modelo:focus {
  outline: none;
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 20px;
}

.sidebar {
  display: grid;
  user-select: none;
}

.category ul,
.state ul {
  list-style: none;
}

.category ul p,
.state ul p {
  margin-bottom: 16px;
  font-size: 24px;
}

.category li,
.state li {
  margin-bottom: 26px;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s;
}

.category li:hover,
.state li:hover {
  opacity: 1;
}

.state {
  margin-top: 60px;
}

.catalog {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
  padding-bottom: 12px;
  padding-top: 12px;
}

.tag-container {
  display: flex;
  gap: 2px;
}

.tag {
  width: 25%;
  text-align: center;
  border-radius: 30px;
  background-color: var(--color-3);
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
}

.tag p {
  font-size: 10px;
  font-weight: 700;
}

#car-price {
  font-size: 20px;
  margin-top: 4px;
  font-weight: bold;
}

.modal-add {
  position: fixed;
  width: 70%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  top: 10%;
  left: 15%;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.modal-container {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 80%;
  padding: 20px;
  margin-top: 20%;
}

.modal-add ul {
  display: grid;
  align-items: center;
  list-style: none;
  margin-bottom: 36px;
}

.select {
  height: 100%;
  justify-content: space-around;
}
.separate hr {
  transform: rotate(90deg);
}

.btn-infocarro button {
  border: none;
  margin-top: 24px;
}